<template>
<div>
  <ClientOnly>
    <Layout>
      <h2 align="center" class="mt-6">The Latest Health news</h2>
      <div class="mt-6">
        <vs-row vs-justify="center">
          <vs-col
            vs-type="flex"
            vs-justify="center"
            vs-align="center"
            vs-w="4"
            vs-sm="4"
            
            class="mr-4 ml-2"
          >
            <vs-card actionable>
              <div slot="header">
                <h3>article.title</h3>
              </div>
              <div></div>
              <div slot="footer">
                <vs-row vs-justify="flex-end">
                  <vs-button class="mr-2" type="gradient" color="primary"
                    >Read More</vs-button
                  >
                </vs-row>
              </div>
            </vs-card>
          </vs-col>
        </vs-row>
      </div>
    </Layout>
  </ClientOnly>
</div>
</template>

<script>
export default {
  data: () => ({
    
    
  }),
  methods: {
    
  },
  
};
</script>

<style scoped></style>
