<template>
  <div>
    <ClientOnly>
      <Layout>
        <!-- Learn how to use images here: https://gridsome.org/docs/images -->
        <h1 align="center" class="mt-4">GWUESAX GAME NEWS</h1>
        <div>
          <vs-row>
            <vs-col
              vs-type="flex"
              vs-justify="center"
              vs-align="center"
              vs-lg="3"
              vs-sm="5"
              vs-xs="12"
              style="margin: 1rem auto"
              v-for="(article, index) in articles"
              :key="index"
            >
              <vs-card
                actionable
                style="margin-right:1rem; background-color:rgb(197, 235, 246)"
              >
                <div slot="header" style="border-bottom: 2px solid">
                  <h3>{{ article.title }}</h3>
                </div>
                <div slot="media">
                  <img src="" />
                </div>
                <div class="mb-2" style="font-size: 1rem">
                  <h6 class="mb-2">{{ article.publisher }}</h6>
                  {{ article.developer }}
                </div>
                <!--<vs-button
                  :href="article.url"
                  style="margin-top: 1rem"
                  color="danger"
                  type="gradient"
                  >Read More</vs-button
                >-->
              </vs-card>
            </vs-col>
          </vs-row>
        </div>
      </Layout>
    </ClientOnly>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: "Hello, world!"
  },
  components: {},
  data: () => ({
    articles: [
      {title: "Tekken 8", publisher: "Bandai-Namco", developer: "Namco-Bandai"},
      {title: "Call of Duty: Vanguard", publisher: "Activision", developer: "Sledgehammer Games"},
      {title: "Elden Ring", publisher: "Bandai-Namco", developer: "FromSoftware"},
      {title: "Injustice 3: Gods wil Fall", publisher: "Warner Bros Interactive", developer: "Netherealm Studios"},
      {title: "God of War: Ragnarok", publisher: "Sony Interactive Entertainment", developer: "San Diego Studios"}
    ],
    //loading: false
  }),
  methods: {
   /* showLoading() {
      this.loading = true;
      this.$vs.loading({
        type: "sound"
      });
    },
    stopLoading() {
      this.loadng = false;
      this.$vs.loading.close();
    }*/
  },
  
};
</script>

<style></style>
