<template>
<ClientOnly>
  <Layout>
    <h2 align="center" class="mt-6">The Latest Technology news</h2>
    <div class="mt-6">
      <vs-row vs-justify="center">
        <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4" vs-sm="4" v-for="(article, index) in articles" :key="index" class="mr-4 ml-2">
          <vs-card actionable style="background-color: lightblue">
            <div slot="header">
              <h3>{{ article.title }}</h3>
            </div>
            <div>{{ article.developer }} in conjunction with {{ article.publisher }}</div>
            <div slot="footer">
              <vs-row vs-justify="flex-end">
                <vs-button class="mr-2" type="relief" color="primary" @click="
                      $vs.notify({
                        time: 7000,
                        title: 'Gridsome Vuesax Build test',
                        text: 'Contact Rozes',
                        position: 'top-left',
                      })">=></vs-button>
              </vs-row>
            </div>
          </vs-card>
        </vs-col>
      </vs-row>
    </div>
  </Layout>
</ClientOnly>
</template>

<script>
export default {
  data: () => ({
    articles: [{title: "Tekken 8", publisher: "Bandai-Namco", developer: "Namco-Bandai"},
      {title: "Call of Duty: Vanguard", publisher: "Activision", developer: "Sledgehammer Games"},
      {title: "Elden Ring", publisher: "Bandai-Namco", developer: "FromSoftware"},
      {title: "Injustice 3: Gods wil Fall", publisher: "Warner Bros Interactive", developer: "Netherealm Studios"},
      {title: "God of War: Ragnarok", publisher: "Sony Interactive Entertainment", developer: "San Diego Studios"}
      ],
    //loading: false,
  }),
  methods: {
   /* showNews(data) {
      this.articles = data.articles;
      this.stopLoading();
    },
    showLoading() {
      this.loading = true;
      this.$vs.loading({
        type: "material",
      });
    },
    stopLoading() {
      this.loading = false;
      this.$vs.loading.close();
    },*/
  },
};
</script>

<style scoped></style>
