<template>
  <div
    class="font-bold container rounded max-w-90vw min-h-90 bg-indigo-200 my-10 py-4 mx-auto"
  >
    <vs-input
      v-model="name"
      label="Name"
      type="text"
      class="mx-auto mb-2 mt-4  rounded"
    />

    <vs-input
      v-model="pwd"
      label="Password"
      type="password"
      class="mx-auto mb-2 rounded "
    />
    <vs-input
      v-model="email"
      label="Email"
      type="email"
      class="mx-auto mb-2 rounded"
    />
    <vs-input
      v-model="username"
      label="Username"
      type="text"
      class="mx-auto mb-2 rounded"
    />
    <vs-input
      v-model="domain"
      label="Domain"
      type="url"
      class="mx-auto mb-2 rounded"
    />
    <div class="btn ">
      <vs-button type="line" variant="primary" class="mt-2 w-20 "
        >Submit</vs-button
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "Form",
  data: () => ({
    name: "",
    pwd: "",
    email: "",
    username: "",
    domain: ""
  })
};
</script>

<style scoped>
.vs-input {
  min-width: 40vw;
}
.btn {
  display: flex;
  justify-content: center;
}

.vs-button:focus,
.vs-button:active {
  outline: none;
}
</style>
