<template>
  <div>
    <vs-navbar
      v-model="activeItem"
      class="nabarx"
      type="gradient"
      active-text-color="rgba(39, 100, 191, 1)"
      color="rgb(218, 211, 211)"
      style="font-weight: bold"
    >
      <div slot="title">
        <vs-navbar-title>{{ $static.metadata.siteName }}</vs-navbar-title>
      </div>
      <vs-navbar-item index="0">
        <g-link to="/">Home</g-link>
      </vs-navbar-item>
      <vs-navbar-item index="1">
        <g-link to="/tech">Technology news</g-link>
      </vs-navbar-item>
     <!-- <vs-navbar-item index="2">
        <g-link to="/health">Health news</g-link>
      </vs-navbar-item>-->
    </vs-navbar>
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
export default {
  data: () => ({
    activeItem: 0
  })
};
</script>

<style scoped>
a.active {
  background: rgb(218, 211, 211);
  color: rgb(14, 18, 20);
}

a.active--exact.active {
  background-color: lightblue;
}
</style>
