<template>
  <div class="layout">
    <nav class="nav">
      <div>
        <TheNavbar />
      </div>
    </nav>
    <slot />
  </div>
</template>

<script>
import TheNavbar from "../components/TheNavbar";
export default {
  components: { TheNavbar },
  data: () => ({
    activeItem: 0
  })
};
</script>

<style>
body {
  font-family: "Quicksand", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.layout {
  /*max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;*/
}

.nav__link {
  margin-left: 20px;
}
</style>
